<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to vsphere-demo!</title>
    <style>
     body {
         width: 35em;
         margin: 0 auto;
         font-family: Tahoma, Verdana, Arial, sans-serif;
     }
    </style>
  </head>
  <body>
    <h1>Welcome to vsphere-demo!</h1>
    <p>If you can see this, this means you're seeing the demo!
    </p>

    Here's the wiki: <a href="http://wiki.tirefire/">wiki.tirefi.re</a>.</p>

  </body>
</html>
